*.log

.firebaserc
serviceAccountKey.json

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

# Visual Studio Code exclude list
.vscode/

# .env files
.env

# results of unit tests
tests/unit-tests/results

# extensions folder
extensions/
node_modules
