*.log

.firebaserc
serviceAccountKey.json

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

functions/node_modules/

# Visual Studio Code exclude list
.vscode/

# .env files
.env

# results of mock system test
functions/tests/system-tests/results